<div
  class="grid grid-cols-2 xl:grid-cols-3 gap-4 w-full items-center rounded-xl bg-white py-6 px-8"
>
  <div class="min-w-0 overflow-hidden flex flex-col">
    <h2 class="font-semibold">
      {{ task.title }}
    </h2>

    <p class="text-sm text-gray-500 max-w-75 flex-wrap">
      {{ task.description }}
    </p>
  </div>
  <div
    class="justify-self-center md:justify-self-start flex flex-col md:flex-row items-center gap-3 md:gap-6 whitespace-nowrap"
  >
    <p
      class="w-32 shrink-0 text-center font-semibold rounded-2xl py-2 px-5 text-sm text-danger bg-danger/15"
      [class.bg-progress-light]="task.status === 'IN_PROGRESS'"
      [class.text-progress]="task.status === 'IN_PROGRESS'"
      [class.bg-success-light]="task.status === 'COMPLETED'"
      [class.text-success]="task.status === 'COMPLETED'"
    >
      {{ formatStatus(task.status) }}
    </p>
    <div class="flex items-center justify-between gap-2">
      <div
        class="rounded-full w-2.5 h-2.5"
        [class.bg-success]="task.priority === 'LOW'"
        [class.bg-todo]="task.priority === 'MEDIUM'"
        [class.bg-danger]="task.priority === 'HIGH'"
      ></div>
      <p class="font-semibold text-sm text-gray-500">
        {{ formatPriority(task.priority) }}
      </p>
    </div>
  </div>
  <div
    class="w-full col-span-2 xl:col-span-1 grid grid-cols-2 justify-center gap-2 h-fit mt-5 xl:mt-0"
  >
    <select
      class="rounded-lg border border-gray-200 px-4 py-2 text-sm font-semibold text-gray-600 cursor-pointer"
      [value]="task.status"
      (change)="onStatusChange($any($event.target).value)"
    >
      <option value="TODO">To Do</option>
      <option value="IN_PROGRESS">In Progress</option>
      <option value="COMPLETED">Completed</option>
    </select>
    <select
      class="rounded-lg border border-gray-200 px-4 py-2 text-sm font-semibold text-gray-600 cursor-pointer"
      [value]="task.priority"
      (change)="onPriorityChange($any($event.target).value)"
    >
      <option value="LOW">Low</option>
      <option value="MEDIUM">Medium</option>
      <option value="HIGH">High</option>
    </select>
    <button
      type="button"
      (click)="deleteTask.emit(task.id)"
      class="col-span-2 border border-primary hover:border-custom-border cursor-pointer mt-1 rounded-lg bg-primary px-3 py-2 text-sm text-white font-semibold hover:bg-primary-light hover:text-primary transition-colors duration-300"
    >
      Delete Task
    </button>
  </div>
</div>
