<div class="mb-8 rounded-xl bg-white p-5 shadow">
  <h2 class="mb-4 text-lg font-semibold">Create Task</h2>

  <form (submit)="$event.preventDefault(); submitForm()" class="space-y-4">
    <input
      class="w-full rounded-lg border border-gray-200 px-4 py-2"
      placeholder="Title"
      [value]="title()"
      (input)="title.set($any($event.target).value)"
    />
    @if (titleError()) {
      <p class="-mt-3 text-xs text-red-500">
        {{ titleError() }}
      </p>
    }

    <textarea
      class="w-full rounded-lg border border-gray-200 px-4 py-2"
      placeholder="Description"
      [value]="description()"
      (input)="description.set($any($event.target).value)"
    ></textarea>
    @if (descriptionError()) {
      <p class="-mt-3 text-xs text-red-500">
        {{ descriptionError() }}
      </p>
    }

    <div class="grid gap-4 md:grid-cols-2">
      <select
        class="w-full rounded-lg border border-gray-200 px-4 py-2"
        [value]="status()"
        (change)="status.set($any($event.target).value)"
      >
        <option value="TODO">To Do</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="COMPLETED">Completed</option>
      </select>

      <select
        class="w-full rounded-lg border border-gray-200 px-4 py-2"
        [value]="priority()"
        (change)="priority.set($any($event.target).value)"
      >
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
      </select>
    </div>

    <button
      type="submit"
      class="cursor-pointer rounded-lg bg-gray-900 px-4 py-2 text-sm font-medium text-white"
    >
      Add Task
    </button>
  </form>
</div>
