<div class="mb-8 grid grid-cols-2 md:flex gap-3">
  @for (status of statuses; track status.value) {
    <button
      (click)="selectStatus(status.value)"
      class="rounded-lg px-6 py-2.5 text-sm font-semibold tracking-wide cursor-pointer border border-custom-border text-gray-600"
      [class.bg-primary-light]="selectedStatus === status.value"
      [class.text-primary]="selectedStatus === status.value"
      [class.bg-white]="selectedStatus !== status.value"
    >
      {{ status.label }}
    </button>
  }
</div>
